//! **************************************************************************
// Written by: Map O.87xd on Thu Apr 08 08:37:22 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Dout<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Dout<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Dout<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Dout<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "CK" LOCATE = SITE "D9" LEVEL 1;
COMP "LOAD" LOCATE = SITE "A8" LEVEL 1;
COMP "EN" LOCATE = SITE "C4" LEVEL 1;
COMP "RST" LOCATE = SITE "B8" LEVEL 1;
COMP "Din<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "Din<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "Din<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "Din<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "Din<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "Dout<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Din<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "Dout<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Din<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "Dout<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Din<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "Dout<3>" LOCATE = SITE "V15" LEVEL 1;
SCHEMATIC END;

